body {
    background-color: antiquewhite;
    padding: 60px;
}
@media screen and (max-width: 600px) {
    body {
        background-color: antiquewhite;
        padding: 30px;
    }
  }
.header {
    text-align: center;
    font-size: 45px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.links {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    flex-direction: row;
}
.links a {
    padding-right: 20px;
    text-decoration: none;
    color: darkolivegreen;
}
.main {
    font-size: 35px;
    text-align: center;
}
.pictures {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 992px) {
    .pictures {
        display: grid;
      grid-template-columns: auto auto;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .pictures {
        display: grid;
      grid-template-columns: auto;
    }
  }
  .images {
      object-position: center;
      object-fit: cover;
      object-fit: contain;
  }
  .list{
    list-style-position: inside;
  }
  
.list2{
    margin: auto;
   width: max-content;
}
.texts {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.texts p {
    font-size: 24px;
}
